<div class="card">
    <h5 class="card-header bg-success text-white">{{ page.training.phpstorm.date|date('j. n. Y') }}</h5>
    <div class="card-body">
        {#<h5 class="card-title">Poslední školení před prázdninami</h5>#}
        <dl>
            <dt>Délka</dt>
            <dd>5 hodiny</dd>
            <dt>Adresa</dt>
            <dd>Jablotron v Holešovicích<br>
                U Pergamenky 1145/12<br>
                Praha 7-Holešovice<br>
                170 00<br>
                (<a href="https://goo.gl/maps/EgYGUapeouY6n8eg6">mapa</a>)
            </dd>
        </dl>
        <p style="font-size: 1.75em">
            <span class="badge badge-success badge-pill">3.799&nbsp;Kč</span>
        </p>
    </div>
    <div class="card-footer">
        <a href="{{ page.training.phpstorm.loginForm }}" class="btn btn-primary btn-lg">Chci se přihlásit!</a>
    </div>
</div>
<br>

