<div class="card">
    <h5 class="card-header bg-success text-white">{{ page.training.phpstorm.date|date('j. n. Y') }} od 13 hodin</h5>
    <div class="card-body">
        <h5 class="card-title">První školení v novém roce v Praze</h5>
        <dl>
            <dt>Délka</dt>
            <dd>5 hodiny</dd>
            <dt>Adresa</dt>
            <dd>Driveto<br>
                Křižíkova 148/34<br>
                Praha 8-Karlín<br>
                186 00<br>
                (<a href="https://goo.gl/maps/iXatrnJzcMT2">mapa</a>)
            </dd>
        </dl>
        <p style="font-size: 1.75em">
            <span class="badge badge-success badge-pill">3.799&nbsp;Kč</span>
        </p>

    </div>
    <div class="card-footer">
        <a href="{{ page.training.phpstorm.loginForm }}" class="btn btn-primary btn-lg">Chci se přihlásit!</a>
    </div>
</div>
<br>

