<div class="card mt-4">
    <h5 class="card-header bg-success text-white">Koronavirové online školení přes Google Meet</h5>
    <div class="card-body">
        <dl>
            <dt>Délka</dt>
            <dd>5 hodin</dd>
            <dt>Adresa</dt>
            <dd>Online</dd>
            <dt>Minimální počet účastníků</dt>
            <dd>5</dd>
            <dt>Kdy?</dt>
            <dd>Předběžně 22.&nbsp;10.&nbsp;2020 12:00 &ndash; 17:00</dd>
            <dd style="color: grey">Protože není potřeba rezervovat školicí místnost, můžeme termín upravit, pokud nebude vyhovovat</dd>
        </dl>
        <p style="font-size: 1.75em">
            <span style="color: silver" class="badge badge-light badge-pill"><span style="text-decoration: line-through">3.799&nbsp;Kč</span> (běžná cena)</span><br/>
            <span class="badge badge-success badge-pill">2.999&nbsp;Kč</span>
        </p>
        <div class="alert alert-warning">Nový formát školení se speciální slevou 20&nbsp;%!</div>
    </div>
    <div class="card-footer">
        <a href="{{ page.training.phpstorm.loginForm }}" class="btn btn-primary btn-lg">Nezávazně se přihlásit!</a>
    </div>
</div>
<br>

